[Unit]
Description=ProcSentinel Server
After=network.target

[Service]
ExecStart=/usr/local/bin/procsentinel/procsentinel-server
WorkingDirectory=/usr/local/bin/procsentinel
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
